.center-card {
    margin: 0 auto 20px;
    max-width: 600px;

    &:first-child {
        margin-top: 40px;
    }
}

.full-width {
    width: 100%;
}

.md-tab-label {
    width: 33.333333%;
}

md-tab-body {
    padding: 15px;
}

.todo-item {
    margin: 10px 0;
}

.padding-none {
    padding: 0;
}